*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    --white: white;
    --textColor: #232C33;
    --blueElectric: #470EF4;
    --redcta: #CE2C4F;
}

body{
    padding-top: 1rem;
    max-width: 80%;
    margin: auto;
    height: 100vw;
}

h1{
    font-family: 'Noto Serif', serif;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--white);    
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

h4 {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
    color: #B7B8BC;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--white);
}


.navContainer{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goTo {
    padding: 0.75rem 3.25rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    border-style: none;
    margin-top: 30%;
}

.navLinks{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--textColor);
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover{
    cursor: pointer;
}

.navLinks button{
    background-color: var(--white);
    border: 0.1rem solid var(--redcta);
    color: var(--redcta);
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.05rem;
}

.getinTouch button{
    background-color: var(--redcta);
    border: 0.2rem solid var(--white);
    color: var(--white);
    padding: 1rem 2.6rem;
    border-radius: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.intro-content{
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    justify-content: center;
}

.presentationCard{
    background-color: var(--blueElectric);
    padding: 3rem;
    border-radius: 3rem;
    flex-direction: column;
    justify-content: center;
    display: flex;
}


.presentationCard p{
    padding: 2rem 0px;
}

.andreaPicture{
    border-radius: 3rem;
    width: 100%;
}

.getinTouch{
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Media queries*/

@media only screen and (max-width:1024px){

    .intro-content{
        flex-direction: column;
        align-items: center;
    }

    .projects_content{
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width:674px){
    .presentationCard{
        min-width: auto;
    }
    .getinTouch{
        display: none;
    }
}

/*CSS from ALLY*/

.projects {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.case {    
    width: 500px;
    min-height: 350px;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

#casePT {
    background-image: url("../images/AirPtWork.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#caseLube {
    background-image: url("../images/AnalystApp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#caseSales {
    background-image: url("../images/SalesApp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}


#casePT h3{
    color: var(--textColor);
}

#caseEV {
    background-image: url("../images/EVChargeWork.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}
.description {
    color: white;
    margin: 0;
    padding-left: 55%;
}

#caseSales .description{
    padding-left: 12%;
}

.bye{
    background-color: #F1F1F1;
    width: 100%;
    text-align: center;
    color: var(--blueElectric);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bye p{
    color: var(--blueElectric);
    font-family: 'Noto Serif', serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 20px;
    border: 4px solid var(--blueElectric);
    border-radius: 1rem;
    margin-bottom: 1.45rem;
}