.topHero{
    text-align: center;
}

h1{
    font-family: 'Poppins', sans-serif; 
}

.contentBox{
    padding: 10px;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #ebebeb;
}

.contentCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contentCard > *{
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    line-height: 2em;
}

.contentCard #blue{
    display: block;
    font-weight: 700;
    background-color: #2d5dcc;
    color: white;
}
.contentCard #pink{
    display: block;
    font-weight: 700;
    background-color: #d957d9;
}
.contentCard #mintGreen{
    display: block;
    font-weight: 700;
    background-color: #4fe0b0;
}
.contentCard #beige{
    background-color: #efd9ca;
    font-weight: 700;
}

.pink{
    color: white;
    background-color: #d957d9;
    padding: 2px;
}

.blue{
    color: white;
    background-color: #2d5dcc;
    padding: 2px;
}

.contentCard #sourceFont{
    font-family: 'Source Sans Pro', sans-serif;
}

.contentCard #nunitoFont{
    font-family: 'Nunito', sans-serif;
}

.bold{
    font-weight: 800;
}

.italic{
    font-style: italic;
}][]

.light{
    font-weight: 100;
}

.contentCard li h1{
    text-align: center;
}

